.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #800000; /* Match the background color */
    padding: 1rem;
}

.logo-image {
    height: 80px; /* Adjust the size of the logo */
    margin-right: 1rem;
}

.logo-text h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.logo-text h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    margin: 0;
    font-weight: bold;
}