 /* Submit Button */
.submit-button {
  background-color: #800000;
  color: #ffffff;
  padding: 12px 28px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

.submit-button:active {
  background-color: #a00000;
  color: white;
  transform: scale(1.05); /* scale up */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* floating effect */
}

.submit-button:hover {
  background-color: #800000;
  color: white;
}